:root {
  --greenish: #0fb9b1;
  --darkBlue: #00344e;
}

.border {
  border: 4px solid gold;
}

.borderRed {
  border: 4px solid red;
}
.card {
  position: relative;
  width: 300px;
  height: 420px;;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--darkBlue);
  border: 1px solid var(--greenish);

}

.imageDiv {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.imageDiv img {
  width: 300px;
  height: 200px;
  transition: transform 0.5s ease;
}

.imageDiv:hover img{
  transform: scale(1.1);
  filter: brightness(110%);
}

.card:hover {
  cursor: pointer;
}

.card:hover {
  border: 3px solid var(--greenish);
}

.title {
  font-size: 25px;
  font-weight: 333px;
  text-align: center;
  color: var(--greenish);
  border-radius: 5px;
  padding: 2px;
  border: 1px solid var(--greenish);
  width: 250px;
  position: absolute;
  left: 25px;
  top: 180px;
  height: 40px;
  font-family: 'Libre Caslon Text', serif;

}


.description {
  position: absolute;
  margin-top: 60px;
  color: var(--greenish);
  text-align: justify;
  padding:4px;
  margin-left: 2px;
  margin-right: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}

.technologies {
  color: gold;
  margin-top: 150px;
  display: inline-flex;
  position: absolute;
  bottom: 0;
}

.technologies > * {
  padding: 1px;
  background: var(--darkBlue);
  display: flex;
  border: 1px solid var(--greenish);
  flex-wrap: wrap;
  border-radius: 5px;
  margin: auto 3px;
  margin-bottom: 5px;
}
