body {
  margin: auto 0;
  font-size: 19px;
}
.mainContainer {
  height: auto;
  width: auto;
  overflow:hidden;

}
.wrapper {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.seeOverflow {
  overflow: visible;
}

.seeOverflowY {
  overflow-y: visible;
}

.seeOverflowX {
  overflow-x: visible;
}


:root {
  --greenish: #0fb9b1;
  --darkBlue: #00344e;
}


/* centres divs and its contents */
.center {
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.outline {
  outline: 3px solid red;
}

.borderGreen {
  border: 2px solid green;
}

.borderBlue {
  border: 2px solid blue;
}

.borderOrange {
  border: 2px solid orange;
}

.flexBlock {
  display: block;
}

.flexInline {
  display: flex;
}


.leftDivsWidth {
  width: 95%;
}

.contentFont {
  font-family: 'Gentium Basic', serif;
}

.primarySize {
  font-size: 20px;
}

.secondarySize {
  font-size: 18px;
}

.ternarySize {
  font-size: 16px;
}

.SectionMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* containers css */

.TopBottommargin {
  margin-top: 10px;
  margin-bottom:10px;

}

.LCmargin {
  margin-left: 15%;
}

.RCmargin {
  margin-right: 15%;
}


/* background color css */

.darkBlue{
  background-color: var(--darkBlue);
}

.greenish {
  background-color: var(--greenish);
}

.nearWhite {
  background-color: #F6F6F6;
  /* background: linear-gradient(to right, rgb(231, 197, 11), rgb(94, 245, 231)); */
}

.richBlack {
  background-color: #212424;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;

}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.rectangle {
  position: relative;

  /* making mannual responsive without using media querry
  min-width: 2%
  width:5%
  max-width:8%
   */
  width: 5%;

  height: 25px;
  background-color: var(--greenish);
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  margin-bottom: 5px;
}

.subHeading {
  margin-left: 3%;
  font-family: font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.headingContent {
  text-align:justify;
  margin-left: 10%;
  margin-right: 4%;
  justify-content: flex-start;
  font-family: 'Gentium Basic', serif;
  font-size: 22px;
}

/* carousel css */

.chart {
  display: inline-block;
  height: 152px;
  width: 152px;
  position: relative;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 5px;
  top: 0;
}

.percent {
  line-height: 152px;
  font-size: 35px;
  color: var(--darkBlue);
  display: inline-block;
}

.percent:after {
  content: '%';
}

#skills {
  width: 99.5%;
}

.technicalSkills h2,h4 {
  margin-bottom: 5px;
  color: var(--darkBlue);
}


.technicalSkills p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Gentium Basic', serif;
  text-shadow: 1px solid gray;
}

/* statistics css */

.statistics {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
}

.statistics > h2 {
  margin-bottom: 40px;
}

.squareItem {
  position:relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.innerSquare {
  position: relative;
  width: 240px;
  height: 240px;
  text-align: center;
  border: 2px solid #444;
  border-top: none;
  margin:0 auto;
}

.innerSquare:before,
.innerSquare:after {
  content: '';
  top:0px;
  position: absolute;
  width: 30%;
  border-bottom: 2px solid #444;

}

.innerSquare::before {
  left:0;
}

.innerSquare:after{
  right:0;
}

.squareContent {
  position: relative;
  margin-top: 25px;
}

.squareContent h2 {
  font-size: 65px;
  font-weight: 400;
  margin: 0;
}

.squareContent h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.innerSquare i {
  font-size: 50px;
  margin-top: -20px;
}

.dummyMargin {
  margin-bottom: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .switchView{
    display: block;
  }

  .LCmargin {
    margin-left:0;
  }

  .RCmargin {
    margin-right:0;
  }


}


/* laptop half screen (landscape tablets, 768px and up) */
@media only screen and (max-width: 960px) {

  .LCmargin {
    margin-left:0;
  }

  .RCmargin {
    margin-right:0;
  }

}
