:root {
	--greenish: #0fb9b1;
	--darkBlue: #00344e;
}

.outline {
	outline: 3px solid red;
}

.borderGreen {
	border: 2px solid green;
}

.borderBlue {
	border: 2px solid blue;
}

.borderOrange {
	border: 2px solid orange;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

/* ---- button ---- */

.button {
	display: inline-block;
	padding: 0.5em 1.0em;
	background: var(--greenish);
	border: none;
	border-radius: 7px;
	background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 0 1px var(--darkBlue);
	cursor: pointer;
}

.button:hover {
	background-color: #0c6657;
	text-shadow: 0 1px var(--darkBlue);
	color: white;
}

.button:active,
.button.is-checked {
	background-color: var(--darkBlue);
}

.button.is-checked {
	color: white;
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
	box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
	margin-bottom: 20px;
}

.button-group:after {
	content: '';
	display: block;
	clear: both;
}

.button-group .button {
	float: left;
	border-radius: 0;
	margin-left: 0;
	margin-right: 1px;
}

.button-group .button:first-child {
	border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
	border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */

.grid {
	border: 1px solid #333;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

.noborder {
	border: none;
}

/* card css */

.element-item {
	position: relative;
	width: 300px;
	height: 455px;
	position: absolute;
	border-bottom: 20px solid var(--greenish);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 5px 3px 5px 8px;
	text-align: justify;
}

.element-item h2 {
	color: var(--darkBlue);
	background: var(--greenish);
	height: 70px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 700px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.element-item ul {
	position: relative;
	background: #fff;
	text-align: center;
	left: -18px;
}

.element-item ul li {
	list-style: none;
	padding: 10px;
	width: 100%;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
}

.element-item ul:hover li {
	opacity: 0.2;
}

.element-item ul li:hover {
	transform: scale(1.1);
	z-index: 10;
	background: var(--greenish);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	color: #fff;
	opacity: 1;
}

.element-item button {
	background-color: var(--greenish);
	color: white;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

.element-item button:hover {
	background-color: var(--darkBlue);
}

.element-item h2 i {
	padding-right: 5px;
	color: var(--darkBlue);
	font-size: 35px;
	text-shadow: 2px solid white;
}

/* .element-item ul li:last-child {
}

.element-item ul li:last-child:hover {
  color: white;
}

.element-item ul li:last-child ul {
  border: 1px solid var(--greenish);
  border-radius: 3px;
  display: table;
  left: 1px;
  height: auto;
  padding: 3px;
  margin:0 5px;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  border:#0f0 solid 1px;
}

.element-item ul li:last-child:hover ul {
  background-color: var(--darkBlue);


} */

.technologies ul {
	border: 1px solid var(--greenish);
	border-radius: 3px;
	display: table;
	left: 1px;
	height: auto;
	padding: 3px;
	margin: 0 5px;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	border: #0f0 solid 1px;
}

.technologies:hover {
	color: white;
}

.technologies:hover ul {
	background-color: var(--darkBlue);
	color: gold;
}

.element-item ul li span {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: var(--greenish);
	color: #fff;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600px;
	transform: translateY(-3px);
}

.element-item ul li:hover span {
	background-color: #fff;
	color: var(--greenish);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.element-item {
		width: 98%;
		display: block;
		justify-content: center;
		margin-left: 1%;
		height: 450px;
	}

	/* center div last option */
	.title2 {
		left: 50%;
		right: 50%;
		transform: translate(-50%, -50%);
		margin-top: 60px;
	}

	.button-group {
		width: 92%;
		margin-left: 5%;
	}

	.button-group > button {
		height: 40px;
		font-size: 0.6em;
	}
}
