.rightContainer {
  height: 100%;
  width: 30%;

  /* flex layout */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

@media only screen and (max-width: 600px) {
 /* .rightContainer {
   width: 100%;
 } */

}
