/* timeline css */
.BE p:first-child,
.intermediate p:first-child,
.matriculation p:first-child {
  font-weight: bold;
}

.BE, .intermediate, .matriculation {
  margin-left: 10%;
}
.intermediate {
  margin-top: 10%;
}

.matriculation {
  margin-top: 10%;
}


div.dummyTimelineClass  p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.timelineContainer {
  margin-top: 10px;
}
.year {
  background-color: var(--darkBlue) ;
  display: flex;
  position: relative;
  width: 100px;
  height: 50px;
  border: 1px solid var(--darkBlue);
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
  line-height: 50px;

}

.line {
  background-color: var(--darkBlue);
  display: flex;
  position: relative;
  width: 10px;
  height: 160px;
  border-radius: 1000px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 47%;

}

@media only screen and (max-width: 600px) {

  .intermediate {
    margin-top: 20%;
  }

  .matriculation {
    margin-top: 18%;
  }

}

@media only screen and (max-width: 960px) {

  .intermediate {
    margin-top: 18%;
  }

  .matriculation {
    margin-top: 15%;
  }

}
