/* title css */
.width100{
  width:100%;
}

.sticky {
  top: 0.5px;
  position: fixed;
  z-index: 100;
  height: 100px;
  background-color: var(--greenish);
  width: 48.8%;
}

.titlefont {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  letter-spacing: 0.1em;
  position: relative;
  color: #00344e;
  font-weight: bolder;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px 5px gray;
}

.titleBorderLines {
  position: relative;
  border-top: 4px solid var(--darkBlue);
  border-bottom: 4px solid var(--darkBlue);
  padding: 10px 0px;
  margin: 0 8%;
}

.fresherFont {
  font-family: monospace;
  font-weight: 400;
  font-size:1.5rem
}

.fresherMagin {
  padding-top:0px;
  margin: 0px 10%;
}


@media only screen and (max-width: 480px) {

   .titlefont {
      font-size: 2rem;
   }
   .fresherFont {
     font-size: 1em;
   }
   
  .sticky {
    width: 100%;
  }

}


@media only screen and (max-width: 960px) {

  .sticky {
    width: 69.7%;
  }

}

@media only screen and (max-width: 600px) {

  .sticky {
    width: 100%;
  }

}
